<ion-header>

	<ion-navbar>
		<ion-title>Browser</ion-title>
		<ion-buttons right>
			<button ion-button (click)="GMarketOptionGetter.show()">
	  			show
 		 	</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<div *ngIf="!loaded" style="text-align: center;" padding>
		<ion-spinner></ion-spinner>
	</div>
	<div *ngIf="loaded">
		<ion-list>
			<button ion-item *ngFor="let group of optionGroups.data " (click)="onClick(group) " [disabled]="group.isEmpty() ">
				{{ group.character }} : {{ group.groupName }}
			</button>
		</ion-list>
	</div>
</ion-content>