<ion-header>

	<ion-navbar>
		<ion-title>Browser</ion-title>
		<ion-buttons right>
			<button ion-button (click)="GMarketOptionGetter.show()">
	  			show
 		 	</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<ion-segment [(ngModel)]="segment" color="secondary">
		<ion-segment-button value="browser">
			browser
		</ion-segment-button>
		<ion-segment-button value="options" [disabled]="!loaded">
			options
		</ion-segment-button>
	</ion-segment>

	<div *ngIf="segment=='browser'" style="width: 100%; height: 100%">
		<iframe #browser style="display: block; width: 100%; height: 100%" src="http://mitem.gmarket.co.kr/Item?goodscode=920511923&keyword_seq=11747635098&keyword=%25eb%25a6%25ac%25ec%2596%25bc%25ed%258f%25ac%25ec%258a%25a4"></iframe>
	</div>

	<div *ngIf="segment=='options'">
		<ion-list>
			<button ion-item *ngFor="let group of optionGroups" (click)="onClick(group)">
				{{ group.groupName }}
			</button>
		</ion-list>
	</div>
</ion-content>